# Flutter/Dart/Pub
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Example build
example/build/
